*{
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(96, 215, 215);
    text-align: center;
}
.container1{
    margin: 0;
    padding: 1rem;
}
.winner{
    color: black;
    font-size: 2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height:18vh;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem black;
    font-size: 4.5rem;
    color: black;
    
}
#reset{
    padding: 1rem;
    font-size: 1rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
}
.hide{
    display: none;
}
